$cor1: #76928a;
$cor1light: #b0cfc6;
$cor1dark: #303d39;
$cor2: #F2E8DF;
$cor3: #F2B263;
$cor4: #F28585;
$cor4dark: #b85858;
$cor5: #F2C6C2;


.overview {
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical apenas quando necessário */
    max-height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.despesas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 0 5% 0;

}
.receitas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 0 5% 0;


}

table {
    width: 95%;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid $cor1dark;


    th, td {
        padding: 8px;
        text-align: left;
        background-color: $cor1light;
        border-bottom: 1px solid $cor1dark;
    }
}
