$dark: #3d403f;
$cor1: #76928a;
$cor1dark: #303d39;
$cor2: #F2E8DF;
$cor3: #F2B263;
$cor4: #F28585;
$cor5: #F2C6C2;

* {
    font-family: "Helvetica", sans-serif;
}

/* Estilo para o cabeçalho */
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    color: $cor2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: $cor1;
    font-weight: bold;

    h1 {
        font-size: 50px;
        text-shadow: 2px 2px $cor1dark;
    }

    nav {
        ul {
            display: flex;
            padding: 0;
            flex-direction: row;
            gap: 75px;
            justify-content: space-between;
    
            li {
                list-style-type: none;
    
                a {
                    color: $cor2;
                    border: 1px solid $cor2;
                    display: flex;
                    padding: 6px;
                    border-radius: 5px;
                    font-size: 20px;
                    text-decoration: none;
    
                    &:hover {
                        color: $cor3;
                        border: 1px solid $cor3;
                    }
                }
            }
        }
    }

}

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60vh;
    overflow: auto;
    background-color: $dark;
    color: $cor2;

    .container {
        margin: 0;
        padding: 0 10%;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 60px;

        h2 {
            width: 100%;
            text-align: start;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height:60%;

        }
    }
}

#login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4em;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo para o rodapé */
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    background-color: $cor4;
    color: $cor1dark;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}