{% extends 'layout.html' %}

{% block content %}
<!-- Conteúdo específico da página aqui -->
<div class="container">
    <h2>Realize seu login para entrar.</h2>
    <div class="content">
        <form id="login" action="/" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Insira seu e-mail." required>

            <label for="pwd">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="****************" required>

            <input type="submit" value="Entrar">
        </form>
    </div>
    <div>Não tem login? <a href="/cadastrar" style="color: white;">cadastrar</a>.</div>
</div>
{% endblock %}