{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">

<body>
    <div class="menu">
        <div class="mes">
            <h3>Janeiro</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Fevereiro</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
        <div class="mes">
            <h3>Março</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Abril</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
        <div class="mes">
            <h3>Maio</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Junho</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
        <div class="mes">
            <h3>Julho</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Agosto</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
        <div class="mes">
            <h3>Setembro</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Outubro</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
        <div class="mes">
            <h3>Novembro</h3>
            <div class="despesas">Despesas: $1000</div>
            <div class="receitas">Receitas: $1500</div>
            <div class="saldo">Saldo: $500</div>
        </div>
        <div class="mes">
            <h3>Dezembro</h3>
            <div class="despesas">Despesas: $1200</div>
            <div class="receitas">Receitas: $1800</div>
            <div class="saldo">Saldo: $600</div>
        </div>
    </div>
</body>
</html>

{% endblock %}
